
.app-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.map-wrapper {
    width: 50%;
}

.map-container {
    height: 400px;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.button {
    display: flex;
    flex-direction: column;
}

.controls {
    background-color: #f9f9f9;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    z-index: 2;
    padding: 30px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
} 

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.statistiques {
    background-color: #f9f9f9;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 50px 20px 0;
}